---
layout: default
title: Home
---

<div style="display: flex; align-items: center; justify-content: center; margin: 30px 0;">
  <div style="font-size: 18pt; line-height: 1.5; margin-right: 20px; text-align: right;">
    ●<br>■<br>▲<br>■
  </div>
  <div style="font-size: 60pt; font-weight: normal; line-height: 1.1;">
    <a href="/" style="text-decoration: none; color: #000000;">김진원의<br>이모저모</a>
  </div>
</div>

<ul style="list-style: none; padding-left: 0;">
{% for post in site.posts reversed %}
  <li>
    <a href="{{ post.url }}">
      {% assign index = forloop.index | minus: 1 | modulo: 4 %}
      {% if index == 0 %}●{% elsif index == 1 %}■{% elsif index == 2 %}▲{% else %}■{% endif %}
      {{ post.title }}
    </a> - {{ post.date | date: "%Y-%m-%d" }}
  </li>
{% endfor %}
</ul>