---
layout: default
---

{% assign posts = site.posts | where: "category", page.category %}

<main>

  <div class="section-label">{{ page.title }}</div>
  <div class="cat-list">
    {% for post in posts %}
    <a href="{{ post.url | relative_url }}" class="cat-item">
      <div class="cat-item-img">
        {% if post.image %}
          <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
        {% endif %}
      </div>
      <div class="cat-item-text">
        <div class="tag">{{ post.category_label }}</div>
        <p class="cat-item-title">{{ post.title }}</p>
        <p class="cat-item-excerpt">{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
        <div class="meta">{{ post.date | date: "%Y. %m. %d" }}</div>
      </div>
    </a>
    {% endfor %}
  </div>

</main>